<div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
  
          
            <div style="display: block">
             <app-grafica [leyenda]="graficos.grafico1.leyenda" [doughnutChartLabels]="graficos.grafico1.labels" [doughnutChartData]="graficos.grafico1.data" doughnutChartType="doughnut"></app-grafica>
            </div>
        
        </div>
      </div>
    </div>
    <div class="col-6">
        <div class="card">
          <div class="card-body">
    
            
              <div style="display: block">
                 <app-grafica [leyenda]="graficos.grafico2.leyenda"  [doughnutChartLabels]="graficos.grafico2.labels" [doughnutChartData]="graficos.grafico2.data" doughnutChartType="doughnut"></app-grafica>
              </div>
          </div>
        </div>
      </div>
</div>
<div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
  
          
            <div style="display: block">
               <app-grafica [leyenda]="graficos.grafico3.leyenda" [doughnutChartLabels]="graficos.grafico3.labels" [doughnutChartData]="graficos.grafico3.data" doughnutChartType="doughnut"></app-grafica>
            </div>
        </div>
      </div>
    </div>
    <div class="col-6">
        <div class="card">
          <div class="card-body">
    
            
              <div style="display: block">
                 <app-grafica  [leyenda]="graficos.grafico4.leyenda" [doughnutChartLabels]="graficos.grafico4.labels" [doughnutChartData]="graficos.grafico4.data" doughnutChartType="doughnut"></app-grafica>
              </div>
          </div>
        </div>
      </div>
</div>